<div class="card" >
    <div class="card-body">
      <h5 class="card-title fw-bolder">Storage</h5>
      <app-error-display [errors]="errors"></app-error-display>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
        <div class="row">

            <div class="col-md-12 mb-3">
                <label for="uploadPath" class="form-label"> Upload Path</label>
                <input type="text" class="form-control" placeholder=" Upload Path" id="uploadPath" formControlName="uploadPath"
                    appValidityStyle [submitted]="submitted">
                <div ngxErrors="uploadPath">
                    <div ngxError="required"> Upload Path is required</div>
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-3">
              <label for="documentPath" class="form-label">Document Path</label>
              <input type="text" class="form-control" placeholder="Document Path" id="otherPath" formControlName="documentPath"
                  appValidityStyle [submitted]="submitted">
              <div ngxErrors="documentPath">
                  <div ngxError="required">Document Path is required</div>
              </div>
          </div>
      </div>
        <div class="row">
          <div class="col-md-12 mb-3">
              <label for="otherPath" class="form-label">Other Uploads Path</label>
              <input type="text" class="form-control" placeholder="Other Uploads Path" id="otherPath" formControlName="otherPath"
                  appValidityStyle [submitted]="submitted">
              <div ngxErrors="otherPath">
                  <div ngxError="required">Other Uploads Path is required</div>
              </div>
          </div>
      </div>

          <div class="row">
              <div class="col-md-4">
                  <button type="submit" class="btn btn-primary me-1">Save Changes</button>
              </div>
          </div>
          <!--end row-->
      </form>
    </div>
  </div>