
<app-pagetitle [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="card">
    <div class="card-body">
        <app-error-display [errors]="errors"></app-error-display>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="row">

                <div class="col-6">
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" placeholder="Enter Email" id="email"
                            [readonly]="editMode" formControlName="email" appValidityStyle [submitted]="submitted">
                        <div ngxErrors="email">
                            <div ngxError="required"> Email text is required</div>
                            <div ngxError="email"> Invalid email address</div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>
            <div class="row">
                <div class="col-3">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name</label>
                        <input type="text" class="form-control" placeholder="Enter FirstName" id="firstName"
                            formControlName="firstName" appValidityStyle [submitted]="submitted">
                        <div ngxErrors="firstName">
                            <div ngxError="required"> First Name required</div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name</label>
                        <input type="text" class="form-control" placeholder="Enter  LastName" id="lastName"
                            formControlName="lastName" appValidityStyle [submitted]="submitted">
                        <div ngxErrors="lastName">
                            <div ngxError="required"> Last name is required</div>
                        </div>
                    </div>
                </div>
                <!--end col-->
            </div>

            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <app-tel-input formControlName="phoneNumber"></app-tel-input>
                    <div ngxErrors="phoneNumber">
                        <div ngxError="required">Phone number is required</div>
                        <div ngxError="phoneNumber">Invalid phone number</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-3">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="active" formControlName="active">
                        <label class="form-check-label" for="active">
                            Active
                        </label>
                    </div>
                </div>
            </div>
           
          
            <h6 class="mb-2">Accounts:</h6>
            <div class="row">
                <div class="col-md-6 mb-2">
                    <button type="button" class="btn btn-primary btn-sm me-1 mb-2 text-uppercase" (click)="add()">Add</button>
                    
                    <div formArrayName="accounts">
                        <div class="table-responsive">
                            <table class="table table-nowrap table-hover mb-2 table-sm">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col">Account</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Actions</th>
        
                                    </tr>
                                </thead>
                                <tbody>
        
                                    <tr class="p-1" *ngFor="let item of accountsFormArray.controls; let i = index ;"
                                        [formGroupName]="i">
                                        <td class="p-1 align-middle">{{item.get('name')?.value}}</td>
                                        <td class="p-1 align-middle">{{item.get('typeName')?.value}}</td>
                                       
                                        <td class="p-1 align-middle" [width]="200">
                                            <div class="hstack gap-3 fs-15">
                                                <a ngbTooltip="Remove" class="btn-link" (click)="remove(i)">
                                                    <i class="bi bi-trash"></i> Remove
                                                </a>
                
                
                                            </div>
                                        </td>
        
        
        
        
        
        
                                    </tr>
                                </tbody>
                            </table>
        
                        </div>
                    </div>                   
                </div>
            </div>
           
            <div class="row">
                <div class="col-md-6">
                    <div formArrayName="roles">
                        <table class="table table-nowrap table-bordered mb-3  table-sm">
                            <thead class="table-light">
                                <tr>

                                    <th scope="col">Assign Roles</th>

                                </tr>

                            </thead>
                            <tbody>
                                <tr *ngFor="let item of rolesFormArray; let i = index ;" [formGroupName]="i"
                                    class="py-1">

                                    <td class="py-1 ">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox"
                                                id="checked_{{item.get('name')?.value}}" formControlName="checked">
                                            <label class="form-check-label" for="checked_{{item.get('name')?.value}}">
                                                {{item.get('name')?.value}}
                                            </label>
                                        </div>
                                    </td>



                                </tr>
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary me-1">Submit</button>
                    <button type="reset" (click)="onCancel()" class="btn btn-danger me-1">Cancel</button>
                </div>
            </div>
            <!--end row-->
        </form>
        <hr>
        <a class="btn btn-light waves-effect waves-light " (click)="back()">Back</a>
    </div>
</div>