<div class="modal-header">
    <h4 class="modal-title text-uppercase ">{{title}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('close click')"></button>
</div>
<form #formDirective="ngForm" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="modal-body">
        <app-error-display [errors]="errors"></app-error-display>






        <div class="row">
            <div class="col-md-12 mb-2">
                <label for="chargeId" class="form-label">Charge </label>
                <select class="form-select" id="chargeId" formControlName="chargeId" appValidityStyle
                    (change)="onChargeChange()" [submitted]="submitted">
                    <option [ngValue]="null">-------</option>
                    <option *ngFor="let item of charges" [value]="item.id">{{item.name}}</option>
                </select>
                <div ngxErrors="chargeId">
                    <div ngxError="required">Charge is required</div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="this.form.value.requireDescription">
            <div class="col-12 mb-2">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" placeholder="Description" id="description" formControlName="description"
                    appValidityStyle [submitted]="submitted"></textarea>
                <div ngxErrors="description">
                    <div ngxError="required"> Description is required</div>
                </div>
            </div>

        </div>
        <div class="row">     
            <div class="col-md-3 mb-2">
                <label for="quantity" class="form-label">Quantity</label>
                <input appNumericInput [options]="quantityNumericOption" type="text" class="form-control"
                    (change)="compute()" placeholder="Quantity"  id="quantity"
                    formControlName="quantity" appValidityStyle [submitted]="submitted">
                <div ngxErrors="quantity">
                    <div ngxError="required">Quantity is required</div>
                   
                </div>
            </div>      
            <div class="col-md-3 mb-2">
                <label for="amount" class="form-label">Amount </label>
                <input appNumericInput type="text" class="form-control" placeholder="Amount" id="amount"
                    (change)="compute()" formControlName="amount" appValidityStyle [submitted]="submitted">
                <div ngxErrors="amount">
                    <div ngxError="required">Amount is required</div>

                </div>
            </div>
            <div class="col-md-3 mb-2">
                <label for="taxCode" class="form-label">Tax % </label>
                <select class="form-select" id="taxCode" formControlName="taxCode" appValidityStyle
                    (change)="compute()" [submitted]="submitted">
                    <option [ngValue]="null">-------</option>
                    <option *ngFor="let item of taxes" [value]="item.code">{{item.description}}</option>
                </select>
                <div ngxErrors="taxCode">
                    <div ngxError="required">Tax is required</div>
                </div>
            </div>
            <div class="col-md-3 mb-2">
                <label for="total" class="form-label">Total Amount</label>
                <input appNumericInput type="text" class="form-control text-dark text-bg-light" readonly placeholder="Total Amount"
                    id="total" formControlName="total" appValidityStyle [submitted]="submitted">
                <div ngxErrors="total">
                    <div ngxError="required">Total is required</div>

                </div>
            </div>
            
        </div>


       


    </div>

    <div class="modal-footer">

        <div class="row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary me-1">{{buttonText}}</button>
            </div>
        </div>
    </div>
</form>