

pdf-viewer {
    height: 80vh;
    //height: calc(100vh - 310px)
}
#loading-bar .bar {
    position: relative;
}

#loading-bar-container {
    position: absolute;
    z-index: 999999;
    top: 30%;
    left: 50%;
}