<div *ngIf="assessment" class="card h-auto">
    <div class="card-body">
        <fieldset disabled>
            <div class="row">
                <div class="col-md-2 mb-2">
                    <label for="yom" class="form-label">No. </label>
                    <input type="text" class="form-control text-bg-light" [value]="assessment.assessmentNo">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="yom" class="form-label">Year </label>
                    <input type="text" class="form-control text-bg-light" [value]="assessment.yom ">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="modelId" class="form-label">Model</label>
                    <input type="text" class="form-control text-bg-light" [value]="assessment.modelName">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="color" class="form-label">Color</label>
                    <input type="text" class="form-control text-bg-light" [value]="assessment.color">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="chassisNo" class="form-label">Chassis No</label>
                    <input type="text" class="form-control text-bg-light" [value]="assessment.chassisNo">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="engineNo" class="form-label">Engine No</label>
                    <input type="text" class="form-control text-bg-light" [value]="assessment.engineNo">
                </div>

            </div>
            <div class="row">
                <div class="col-md-2 mb-2">
                    <label for="assessmentDate" class="form-label">Assessment Date </label>
                    <input type="text" class="form-control text-bg-light"
                        [value]="assessment.assessmentDate | date:'dd/MM/yyyy'">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="preAccidentValue" class="form-label">Pre Accident Value </label>
                    <input type="text" class="form-control text-bg-light"
                        [value]="assessment.preAccidentValue | number:'1.2-2'">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="salvageValue" class="form-label">Salvage Value </label>
                    <input type="text" class="form-control text-bg-light"
                        [value]="assessment.salvageValue | number:'1.2-2'">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="odometer" class="form-label">Odometer </label>
                    <input type="text" class="form-control text-bg-light"
                        [value]="assessment.odometer | number:'1.2-2'">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="odometerUOM" class="form-label">UOM </label>
                    <input type="text" class="form-control text-bg-light" [value]="assessment.odometerUOM">
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 mb-2">
                    <label for="repairTimeline" class="form-label">Repair Timeline </label>
                    <input type="text" class="form-control text-bg-light" [value]="assessment.repairTimeline">
                </div>
                <div class="col-md-2 mb-2">
                    <label for="recommendationName" class="form-label">Recommendation </label>
                    <input type="text" class="form-control text-bg-light" [value]="assessment.recommendationName">
                </div>
                <div class="col-md-3 mb-2 mt-auto">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="requireInvestigation"
                            [value]="assessment.requireInvestigation">
                        <label class="form-check-label" for="requireInvestigation">
                            REQUIRE INVESTIGATION
                        </label>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12 mb-2">
                    <label for="damageProfile" class="form-label">Damage Profile </label>
                    <textarea class="form-control text-bg-light" [value]="assessment.damageProfile"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-2">
                    <label for="profferedRepairMethod" class="form-label">Proffered Repair Method </label>
                    <textarea class="form-control text-bg-light" [value]="assessment.profferedRepairMethod"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-2">
                    <label for="remarks" class="form-label">Remarks </label>
                    <textarea class="form-control text-bg-light" [value]="assessment.remarks"></textarea>
                </div>
            </div>
            <hr>
            <h4 class="mt-2 font-size-18">Survey Observations</h4>
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-nowrap mb-2 ">
                        <thead>
                            <tr>
                                <th scope="col" class="p-1 ">Item</th>
                                <th scope="col" class="p-1 ">Observation</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of assessment.surveyItems; let i = index ;">
                                <td class="p-1">{{ item.itemName}}</td>
                                <td class="p-1"> {{ item.valueName}} </td>
                            </tr>
                        </tbody>

                    </table>
                </div>
            </div>
            <hr>
            <h4 class="mt-2 font-size-18">Repair Parts</h4>
            <div class="row">
                <div class="col-md-12 table-responsive">

                    <table class="table table-nowrap mb-2 ">
                        <thead>
                            <tr>
                                <th scope="col" class="p-1 ">Part Name</th>
                                <th scope="col" class="p-1 ">Condition</th>
                                <th scope="col" class="p-1 text-end">Quantity</th>
                                <th scope="col" class="p-1 text-end">Price</th>
                                <th scope="col" class="p-1 text-end">MarkUp</th>
                                <th scope="col" class="p-1 text-end">Discount</th>
                                <th scope="col" class="p-1 text-end">Tax</th>
                                <th scope="col" class="p-1 text-end">Gross Total</th>
                                <th scope="col" class="p-1 text-end">Contibution</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of assessment.items; let i = index ;">
                                <td class="p-1">{{item.partName}}</td>
                                <td class="p-1">{{item.conditionName }}</td>
                                <td class="p-1 text-end">{{item.quantity | number:'1.0-0'}}</td>
                                <td class="p-1 text-end">{{item.price | number:'1.2-2'}} </td>
                                <td class="p-1 text-end">{{item.markUp | number:'1.2-2' }}</td>
                                <td class="p-1 text-end">{{item.discountAmount | number:'1.2-2'}}</td>
                                <td class="p-1 text-end">{{item.taxAmount | number:'1.2-2'}}</td>
                                <td class="p-1 text-end">{{item.grossTotal | number:'1.2-2'}}</td>
                                <td class="p-1 text-end">{{item.contribution| number:'1.2-2' }}</td>


                            </tr>
                        </tbody>

                    </table>


                </div>
            </div>
            <hr>
            <h4 class="mt-2 font-size-18">Other Cost</h4>
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table class="table table-nowrap mb-2 ">
                        <thead>
                            <tr>
                                <th scope="col" class="p-1 ">Service</th>
                                <th scope="col" class="p-1 ">Description</th>
                                <th scope="col" class="p-1 text-end">Amount</th>
                                <th scope="col" class="p-1 text-end">Tax Amount</th>
                                <th scope="col" class="p-1 text-end">Gross Total</th>                               
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of assessment.otherCosts; let i = index ;">
                                <td class="p-1">{{ item.chargeName }}</td>
                                <td class="p-1">{{ item.description }}</td>
                                <td class="p-1 text-end">{{ item.amount | number:'1.0-0'}} </td>
                                <td class="p-1 text-end">{{ item.taxAmount | number:'1.2-2'}}</td>
                                <td class="p-1 text-end">{{ item.grossTotal | number:'1.2-2' }}</td>
                            </tr>
                        </tbody>

                    </table>


                </div>
            </div>
            <app-document-upload-view [refId]="assessment.id"></app-document-upload-view>
        </fieldset>
    </div>
</div>