<app-pagetitle [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

<div class="card h-auto">
    <div class="card-body">
        <app-error-display [errors]="errors"></app-error-display>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">

            <div class="row">
                <div class="col-md-6 mb-1">
                    <label for="type" class="form-label"> Type</label>
                    <select class="form-select" id="type" formControlName="type" appValidityStyle
                        [submitted]="submitted">
                        <option [ngValue]="null">-------</option>
                        <option *ngFor="let item of notificationTypes" [value]="item.id">{{item.name}}</option>
                    </select>
                    <div ngxErrors="type">
                        <div ngxError="required">Type is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-2">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" placeholder="Description" id="description"
                        formControlName="description" appValidityStyle [submitted]="submitted"></textarea>
                    <div ngxErrors="description">
                        <div ngxError="required">Description is required</div>
                    </div>
                </div>

            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="enableEmail" formControlName="enableEmail" 
                        (change)="enableEmailChanged()"
                        >
                        <label class="form-check-label" for="enableEmail">
                            Email Enabled
                        </label>
                    </div>
                </div>
            </div>
            <ng-container formGroupName="emailNotification">
                <div class="row">
                    <div class="col-md-6 mb-2">
                        <label for="subject" class="form-label">Subject: (place holders => {{placeHolder}})</label>
                        <input type="text" class="form-control" placeholder="Subject" id="subject"
                            formControlName="subject" appValidityStyle [submitted]="submitted">
                        <div ngxErrors="subject">
                            <div ngxError="required">Subject is required</div>
                        </div>
                    </div>

                </div>
                
                <div class="row">
                    <div class="col-md-6 mb-1">
                        <label for="template" class="form-label">Email Template</label>
                        <textarea type="text" class="form-control" placeholder="Template" id="template" rows="10"
                        formControlName="template" appValidityStyle [submitted]="submitted">  </textarea> 
                        <div ngxErrors="template">
                            <div ngxError="required">Email Template is required</div>
                        </div>
                    </div>
                </div>
                <ng-container formGroupName="emailContacts">
                    <div class="row">
                        <div class="col-md-6 mb-1">
                            <div class="table-responsive">
                                <table class="table table-nowrap table-hover mb-2 table-sm">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col">Contact Type</th>
                                            <th scope="col">Address Type</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="p-1"
                                            *ngFor="let item of emailContactsFormArray.controls; let i = index ;"
                                            [formGroupName]="i">
                                            <td class="p-1 align-middle">{{item.get('contactTypeName')?.value}}</td>
                                            <td class="p-1 align-middle">
                                                <select class="form-select form-select-sm" id="addressType"
                                                    formControlName="addressType" appValidityStyle
                                                    [submitted]="submitted">
                                                    
                                                    <option *ngFor="let item of emailAddressTypes" [value]="item.id">
                                                        {{item.name}}</option>
                                                </select>
                                                <div ngxErrors="addressType">
                                                    <div ngxError="required">Address is required</div>
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                </ng-container>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div ngxErrors="emailContacts">
                            <div ngxError="requireAddressTypeTo">At least one contact must have "TO" address type selected when Email is Enabled</div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <hr>

            <div class="row">
                <div class="col-md-12 mb-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="enableSms"
                        (change)="enableSmsChanged()"
                         formControlName="enableSms">
                        <label class="form-check-label" for="enableSms">
                            SMS Enabled
                        </label>
                        <div ngxErrors="enableSms">
                            <div ngxError="requireCheckboxToBeChecked">At least on contact must be checked</div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-container formGroupName="smsNotification">
                <div class="row">
                    <div class="col-md-6 mb-1">
                        <label for="template" class="form-label">SMS Template</label>
                        <textarea type="text" class="form-control" placeholder="Template" id="template" rows="6"
                        formControlName="template" appValidityStyle [submitted]="submitted">  </textarea> 
                        <div ngxErrors="template">
                            <div ngxError="required">SMS Template is required</div>
                        </div>
                    </div>
                </div>
              
                <ng-container formGroupName="smsContacts">
                    <div class="row">
                        <div class="col-md-6 mb-1">
                            <div class="table-responsive">
                                <table class="table table-nowrap table-hover mb-2 table-sm">
                                    <thead class="table-light">
                                        <tr>
                                            <th scope="col">Contact Type</th>
                                            <th scope="col">Checked</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="p-1"
                                            *ngFor="let item of smsContactsFormArray.controls; let i = index ;"
                                            [formGroupName]="i">
                                            <td class="p-1 align-middle">{{item.get('contactTypeName')?.value}}</td>
                                            <td class="p-1 align-middle">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox"  formControlName="checked">
                                                   
                                                </div>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                    
                </ng-container>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <div ngxErrors="smsContacts">
                            <div ngxError="requireCheckboxToBeChecked">At least one contact must be checked when SMS is Enabled</div>
                        </div>
                    </div>
                </div>
                
            </ng-container>
            



            <div class="row">
                <div class="col-md-4 ">
                    <button type="submit" class="btn btn-primary me-1">{{buttonText}}</button>
                    <button type="reset" (click)="onCancel()" class="btn btn-danger me-1">Cancel</button>
                </div>
            </div>
            <!--end row-->
        </form>
        <hr>
        <a class="btn btn-light waves-effect waves-light " (click)="back()">Back</a>
    </div>
</div>