<app-error-display [errors]="errors"></app-error-display>
<form [formGroup]="form" (ngSubmit)="onSubmit($event.submitter.value)" autocomplete="off">

    <div class="row">
        <div class="col-md-3 mb-2">
            <label for="accountId" class="form-label">Account </label>
            <select class="form-select" id="accountId" formControlName="accountId" appValidityStyle
                [submitted]="submitted">
                <option [ngValue]="null">-------</option>
                <option *ngFor="let item of accounts" [value]="item.id">{{item.name}}</option>
            </select>
            <div ngxErrors="accountId">
                <div ngxError="required">Account is required</div>
            </div>
        </div>
        <div class="col-md-2 mb-2">
            <label for="regDate" class="form-label"> Date</label>
            <div class="input-group">
                <input class="form-control" placeholder="dd-MMM-yyyy" name="dp" [minDate]="minDate" [maxDate]="maxDate"
                    ngbDatepicker #d="ngbDatepicker" formControlName="regDate">
                <button class="input-group-text" type="button" (click)="d.toggle()">
                    <i class="bi bi-calendar-fill icon-md text-muted"></i>
                </button>
            </div>
            <div ngxErrors="regDate">
                <div ngxError="required"> Date is required</div>
                <div ngxError="ngbDate"> Invalid Date</div>
            </div>
        </div>
      
        <div class="col-md-3 mb-2">
            <label for="code" class="form-label">Client/Insurance</label>
            <div class="input-group">                
                <input type="text" class="form-control" placeholder="Client" id="clientName"
                    formControlName="clientName" readonly appValidityStyle [submitted]="submitted">
                <button class="btn btn-primary " (click)="selectClient()" type="button">Select</button>
            </div>
            <div ngxErrors="clientId">
                <div ngxError="required">Client is required</div>

            </div>
        </div>
        <div class="col-md-4 mb-2">
            <label for="customer" class="form-label">Customer/Insured</label>
            <input type="text" class="form-control" placeholder="Customer" id="customer" formControlName="customer"
                appValidityStyle [submitted]="submitted">
            <div ngxErrors="customer">
                <div ngxError="required">Customer is required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 mb-2">
            <label for="contactPerson" class="form-label">Contact Person</label>
            <input  type="text" class="form-control" placeholder="Contact Person" id="contactPerson"
                formControlName="contactPerson" appValidityStyle [submitted]="submitted">
            <div ngxErrors="contactPerson">
                <div ngxError="required">Policy Excess is required</div>
            </div>
        </div>
        <div class="col-md-2 mb-2">
            <label for="regNumber" class="form-label">Reg No.</label>
            <input type="text" class="form-control" placeholder="Reg Number" id="regNumber" formControlName="regNumber"
                appValidityStyle [submitted]="submitted">
            <div ngxErrors="regNumber">
                <div ngxError="required">Reg No is required</div>
            </div>
        </div>
        <div class="col-md-2 mb-2">
            <label for="claimNumber" class="form-label">Claim Number</label>
            <input type="text" class="form-control" placeholder="Claim Number" id="claimNumber"
                formControlName="claimNumber" appValidityStyle [submitted]="submitted">
            <div ngxErrors="claimNumber">
                <div ngxError="required">Claim Number is required</div>
            </div>
        </div>
        <div class="col-md-2 mb-2">
            <label for="policyNumber" class="form-label">Policy Number</label>
            <input type="text" class="form-control" placeholder="Policy Number" id="policyNumber"
                formControlName="policyNumber" appValidityStyle [submitted]="submitted">
            <div ngxErrors="policyNumber">
                <div ngxError="required">Policy Number is required</div>
            </div>
        </div>
        <div class="col-md-2 mb-2">
            <label for="policyExcess" class="form-label">Policy Excess</label>
            <input appNumericInput type="text" class="form-control" placeholder="Policy Excess" id="policyExcess"
                formControlName="policyExcess" appValidityStyle [submitted]="submitted">
            <div ngxErrors="policyExcess">
                <div ngxError="required">Policy Excess is required</div>
            </div>
        </div>
        <div class="col-md-2 mb-2">
            <label for="sumInsured" class="form-label">Sum Insured</label>
            <input appNumericInput type="text" class="form-control" placeholder="Sum Insured" id="sumInsured"
                formControlName="sumInsured" appValidityStyle [submitted]="submitted">
            <div ngxErrors="sumInsured">
                <div ngxError="required">Sum Insured is required</div>
            </div>
        </div>
       
    </div>
    <div class="row">
        <div class="col-md-3 mb-2">
            <label for="areaId" class="form-label">Area </label>
            <select class="form-select" id="areaId" formControlName="areaId" appValidityStyle [submitted]="submitted">
                <option [ngValue]="null">-------</option>
                <option *ngFor="let item of areas" [value]="item.id">{{item.name}}</option>
            </select>
            <div ngxErrors="areaId">
                <div ngxError="required">Area is required</div>
            </div>
        </div>
        <div class="col-md-3 mb-2">
            <label for="handlerId" class="form-label">Handler </label>
            <select class="form-select" id="handlerId" formControlName="handlerId" appValidityStyle
                [submitted]="submitted">
                <option [ngValue]="null">-------</option>
                <option *ngFor="let item of handlers" [value]="item.id">{{item.name}}</option>
            </select>
            <div ngxErrors="handlerId">
                <div ngxError="required">Handler is required</div>
            </div>
        </div>

        <div class="col-md-3 mb-2">
            <label for="garageName" class="form-label">Garage</label>
            <input type="text" class="form-control" placeholder="Garage" id="garageName" formControlName="garageName"
                appValidityStyle [submitted]="submitted">
            <div ngxErrors="garageName">
                <div ngxError="required">Garage is required</div>
            </div>
        </div>
    </div>
    <app-task-contact-form *ngIf="contacts && contacts.length>0" [id]="this.form.value.id" [contacts]="contacts" [form]="form" [submitted]="submitted" ></app-task-contact-form>
    <div class="row">
        <div class="col-md-12 mb-2">
            <label for="termsOfReference" class="form-label">Terms of Reference </label>
            <textarea type="text" class="form-control" placeholder="Terms of Reference " id="termsOfReference" rows="6"
                formControlName="termsOfReference" appValidityStyle [submitted]="submitted"></textarea>
            <div ngxErrors="termsOfReference">
                <div ngxError="required">Terms of Reference is required</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mb-2">
            <label for="remarks" class="form-label">Remarks</label>
            <textarea type="text" class="form-control" placeholder="Remarks" id="remarks" formControlName="remarks" rows="6"
                appValidityStyle [submitted]="submitted"></textarea>
            <div ngxErrors="remarks">
                <div ngxError="required">Remarks is required</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 mb-0">
            <label class="form-label">Documents</label>
            <app-document-upload *ngIf="form.value.id"  [refId]="form.value.id" [operationTypeId]="2"
                (documentsChangedEvent)="updateDocuments($event)"></app-document-upload>
            <div ngxErrors="madatoryDocsUploaded">
                <div ngxError="required">Please make sure you have uploaded all mandatory documents</div>
            </div>


        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary me-1" value="save">{{buttonText}}</button>
            <button type="submit" class="btn btn-primary me-1" value="submit">{{buttonText}} & Submit</button>
            <button type="reset" (click)="onCancel()" class="btn btn-danger me-1">Cancel</button>
        </div>
    </div>
    <!--end row-->
</form>
<hr>
<a class="btn btn-light waves-effect waves-light " (click)="back()">Back</a>