<app-pagetitle [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="card h-auto">
    <div class="card-body">

        <div class="row">
            <div class="col-md-1 mb-2 ">
              
            </div>
            <div class="col-md-5 ms-auto">
                <div class="input-group">
                    <input type="text" placeholder="Search" name="search" class="form-control" aria-label="search"
                        [(ngModel)]="search">
                    <button ngbTooltip="Search" class="btn btn-primary" type="button" (click)="onSearch()"><i
                            class="bi bi-search"></i></button>
                    <button ngbTooltip="Clear" class="btn btn-primary" type="button" (click)="onReset()"><i
                            class="bi bi-x-circle"></i></button>
                </div>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table table-nowrap mb-2">
                <thead>
                    <tr>

                        <th scope="col">#</th>
                        <th scope="col">Ref No</th> 
                        <th scope="col">Reg Date</th> 
                        <th scope="col">Account</th>                        
                        <th scope="col">Client</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Status</th>
                        <th [width]="200" scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of items" class="p-1">
                        <td>{{item.taskNo}}</td>
                        <td>{{item.refNo}}</td>  
                        <td>{{item.regDate | date:'dd-MMM-yyyy'}}</td>  
                        <td>{{item.accountName}}</td>     
                        <td>{{item.clientName}}</td>  
                        <td>{{item.customer}}</td>   
                        <td>{{item.taskStatusName}}</td>                  
                        
                        <td class="p-1 d-flex justify-content-end">
                            <div container="body" ngbDropdown class="d-inline-block">
                                <button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
                                    Actions <i class="bi bi-chevron-down ms-2"></i>

                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <ng-container>
                                        <button ngbDropdownItem *ngIf="item.taskStatus==0" [routerLink]="['/ops-task/task/edit',item.id]" routerLinkActive="active" >
                                            <i class="bi bi-pencil-fill me-1 text-primary "></i>Edit
                                        </button>
                                    </ng-container>  
                                    <button ngbDropdownItem  *ngIf="item.taskType==1" [routerLink]="['/ops-task/task/asmt-detail',item.id]" routerLinkActive="active" >
                                        <i class="bi bi-eye-fill me-1 text-primary"></i>View
                                    </button>
                                    <div class="dropdown-divider"></div>
                                    <button ngbDropdownItem>
                                        <i class="bi bi-trash me-1 text-danger"></i>Delete
                                    </button>
                                </div>
                            </div>


                        </td>



                    </tr>
                </tbody>
            </table>
            <div *ngIf="totalCount>0">
                <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="totalCount" [pageSize]="pageSize"
                [(page)]="page" [maxSize]="maxSize" [boundaryLinks]="true"></ngb-pagination>
            </div>
            
        </div>
    </div>
</div>
