<div class="modal-header">
    <h4 class="modal-title ">Account Picker</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('close click')"></button>
</div>

<div class="modal-body">
    <app-error-display [errors]="errors"></app-error-display>


    <div class="row">

        <div class="col-md-12 ms-auto">
            <div class="input-group">
                <input type="text" placeholder="Search" name="search" class="form-control" aria-label="search"
                    [(ngModel)]="search">
                <button ngbTooltip="Search" class="btn btn-primary" type="button" (click)="onSearch()"><i
                        class="bi bi-search"></i></button>
                <button ngbTooltip="Clear" class="btn btn-primary" type="button" (click)="onReset()"><i
                        class="bi bi-x-circle"></i></button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-nowrap mb-2">
            <thead>
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th [width]="200" scope="col"></th>
                </tr>
            </thead>
            <tbody>

                <tr *ngFor="let item of items" class="p-1">
                    <td>{{item.code}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.typeName}}</td>
                    <td>
                        <div class="hstack gap-3 fs-15">

                            <a ngbTooltip="Add" href=""  class="btn-link" (click)="add(item);$event.preventDefault();">
                                <i class="bi bi-plus-square me-2"></i> Add
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="totalCount" [pageSize]="pageSize"
            [(page)]="page" [maxSize]="maxSize" [boundaryLinks]="true"></ngb-pagination>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="done()" >Done</button>

</div>