<button (click)="fileInput.click()" class="btn btn-default text-uppercase text-primary "> <i
  class="bi bi-upload  text-primary"></i> {{doc.no}}. upload {{doc.name}}
<i [ngStyle]="{ color: doc.mandatory ? 'red' : 'transparent' }" class="bi bi-asterisk align-bottom "
  style="color: rgb(255, 0, 0);"></i></button>
<span
style="visibility: hidden; position: absolute; overflow: hidden; width: 0px; height:0px;border:none;margin:0; padding:0">
<input type="file" #fileInput ng2FileSelect [uploader]="uploader" (change)="onFileSelected($event)"
[accept]="allowedMimeTypes" />
</span>

<div *ngFor="let item of uploader.queue">

<div class="row ms-2">
  <div class="col-md-10 text-uppercase fw-bolder align-self-center">
    {{item.file.name}}
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-danger btn-xs mt-1 mb-1   float-end " (click)="removeFile(item)">
      <i class="bi bi-trash me-1"></i> Remove
    </button>
  </div>
</div>


<div class="progress ms-3" style="margin-bottom: 0;">
  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }">
    {{item.progress + '%'}}
  </div>
</div>

</div>

<div *ngFor="let item of itemAlreadyUploaded()">
<!-- <span class="text-uppercase "><strong>{{item.fileName}}</strong>
    <button type="button" class="btn btn-danger btn-sm mt-1 mb-1 " (click)="removeAlreadyUploadedFile(item)" style="padding: 3px 5px;">
      <span class="fa fa-trash"></span> Remove
    </button>
  </span> -->

<div class="row ms-2">
  <div class="col-md-10 text- fw-bolder text-uppercase align-self-center">
    {{item.fileName}}
   
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-danger btn-xs   mt-1 mb-1   float-end"
      (click)="removeAlreadyUploadedFile(item)">
      <i class="bi bi-trash me-1"></i> Remove
    </button>
  </div>
</div>
<hr class="m-0"/>
</div>