<app-pagetitle [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

<div class="card h-auto">
    <div class="card-body">
        <app-error-display [errors]="errors"></app-error-display>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
            <div class="row">
                <div class="col-md-6 mb-2">
                    <label for="partNumber" class="form-label">Part Number</label>
                    <input type="text" class="form-control" placeholder="Part Number" id="partNumber" formControlName="partNumber"
                        appValidityStyle [submitted]="submitted">
                    <div ngxErrors="partNumber">
                        <div ngxError="required">Part number is required</div>
                    </div>
                </div>
               

            </div>
            <div class="row">
                <div class="col-6 mb-2">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" placeholder="Name" id="name" formControlName="name"
                        appValidityStyle [submitted]="submitted">
                    <div ngxErrors="name">
                        <div ngxError="required"> Name is required</div>
                    </div>
                </div>

            </div>     
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label for="group" class="form-label">Group </label>
                    <select class="form-select" id="group" formControlName="group" appValidityStyle
                        [submitted]="submitted">
                        <option [ngValue]="null">-------</option>
                        <option *ngFor="let item of groups" [value]="item.id">{{item.name}}</option>
                    </select>
                    <div ngxErrors="group">
                        <div ngxError="required">Group is required</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 mb-2">
                    <label for="brand" class="form-label">Brand</label>
                    <input type="text" class="form-control" placeholder="Brand" id="brand" formControlName="brand"
                        appValidityStyle [submitted]="submitted">
                    <div ngxErrors="brand">
                        <div ngxError="required"> Brand is required</div>
                    </div>
                </div>

            </div> 
            
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary me-1">{{buttonText}}</button>
                    <button type="reset" (click)="onCancel()" class="btn btn-danger me-1">Cancel</button>
                </div>
            </div>
            <!--end row-->
        </form>
        <hr>
        <a class="btn btn-light waves-effect waves-light " (click)="back()">Back</a>
    </div>
</div>

