<app-pagetitle [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<hr>
<div class="row my-2">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary me-1"  (click)="onSubmit()">
            <i class="bi bi-check-circle-fill me-1 text-white "></i>  Submit
        </button>
        <button type="button" class="btn btn-primary me-1"  [routerLink]="['/ops-asmt/assessment/edit',id]" routerLinkActive="active" >
            <i class="bi bi-pencil-fill me-1 text-white "></i> Edit Assessment
        </button>
         
    </div>
</div>
<app-assessment-info *ngIf="id" [id]="id"></app-assessment-info>


<div class="row my-2">
    <div class="col-md-12">
        <button type="button" class="btn btn-primary me-1" (click)="onSubmit()" >
            <i class="bi bi-check-circle-fill me-1 text-white "></i>  Submit
        </button>
        <button type="button" class="btn btn-primary me-1"  [routerLink]="['/ops-asmt/assessment/edit',id]" routerLinkActive="active" >
            <i class="bi bi-pencil-fill me-1 text-white "></i> Edit Assessment
        </button>
         
    </div>
</div>
