<div class="auth-page">
  <div class="container-fluid p-0">
      <div class="row g-0">
          <div class="col-xxl-3 col-lg-4 col-md-5">
              <div class="auth-full-page-content d-flex p-sm-5 p-4">
                  <div class="w-100">
                      <div class="d-flex flex-column h-100">
                          <div class="mb-4 mb-md-5 text-center">
                              <a routerLink="/" class="d-block auth-logo">
                                  <app-logo></app-logo>
                              </a>
                          </div>
                          <div class="auth-content my-auto">
                              <div class="text-center">
                                  <h5 class="mb-0">Password reset</h5>
                                  <p class="text-muted mt-2">Enter your new password</p>
                              </div>
                              <app-spinner></app-spinner>
                              <app-error-display [errors]="errors"></app-error-display>
                              <form [formGroup]="form" (ngSubmit)="onSubmit()">

                                <div class="row text-start">
                                  <div class="col-12">
                                      <div class="mb-3">
                                          <label for="password" class="form-label">Password</label>
                                          <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                                          formControlName="password"
                                          appValidityStyle [submitted]="submitted"
                                          >
                                          <div ngxErrors="password">
                                              <div ngxError="required">Password is required</div>
                                              <div ngxError="password">Minimum 6 characters, at least 1 uppercase letter, 1 lowercase letter, 1 number and 1 special character </div>
              
                                          </div>
                                      </div>
                                  </div>
                                  <!--end col-->
                              </div>
                              <div class="row text-start">
                                  <div class="col-12">
                                      <div class="mb-3">
                                          <label for="confirmPassword" class="form-label">Confirm Password</label>
                                          <input type="password" class="form-control" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword"
                                          formControlName="confirmPassword"
                                          appValidityStyle [submitted]="submitted"
                                          >
                                          <div ngxErrors="confirmPassword">
                                               <div ngxError="mustMatch">Password must match.</div>
                                          </div>
                                      </div>
                                  </div>
                                  <!--end col-->
                              </div>
              
                              <div class="row text-start">
                                  <div class="col-md-12">
                                          <button type="submit" class="btn btn-primary me-1">Reset Password</button>
              
                                  </div>
                              </div>

                              </form>


                          </div>
                          <div class="mt-4 mt-md-5 text-center">
                              <p class="mb-0">©
                                  {{year}} ExpaqASVA . Powered by Expaq
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- end auth full page content -->
          </div>
          <!-- end col -->
          <div class="col-xxl-9 col-lg-8 col-md-7">
              <app-banner></app-banner>
          </div>
          <!-- end col -->
      </div>
      <!-- end row -->
  </div>
  <!-- end container fluid -->
</div>