

<div class="card" >
    <div class="card-body">
      <h5 class="card-title fw-bolder">Report Server</h5>
      <app-error-display [errors]="errors"></app-error-display>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
          <div class="row">

              <div class="col-md-12 mb-3">
                  <label for="reportServerUri" class="form-label">Uri.</label>
                  <input type="text" class="form-control" placeholder="Report Server Uri." id="reportServerUri" formControlName="reportServerUri"
                      appValidityStyle [submitted]="submitted">
                  <div ngxErrors="reportServerUri">
                      <div ngxError="required">Report Server Uri is required</div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-6 mb-3">
                  <label for="reportServerUsername" class="form-label">Username</label>
                  <input type="text" class="form-control" placeholder="Username" id="reportServerUsername" formControlName="reportServerUsername"
                      appValidityStyle [submitted]="submitted">
                  <div ngxErrors="reportServerUsername">
                      <div ngxError="required"> Username is required</div>
                  </div>
              </div>
              <div class="col-6 mb-3">
                <label for="reportServerPassword" class="form-label">Password</label>
                <input type="password" class="form-control" placeholder="Password" id="reportServerPassword" formControlName="reportServerPassword"
                    appValidityStyle [submitted]="submitted">
                <div ngxErrors="reportServerPassword">
                    <div ngxError="required"> Password is required</div>
                </div>
            </div>
              <!--end col-->
          </div>

          <div class="row">
              <div class="col-md-4">
                  <button type="submit" class="btn btn-primary me-1">Save Changes</button>
              </div>
          </div>
          <!--end row-->
      </form>

    </div>
  </div>
