

<div class="card" >
    <div class="card-body">
      <h5 class="card-title fw-bolder">ExpaqMate Server</h5>
      <app-error-display [errors]="errors"></app-error-display>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
          <div class="row">

              <div class="col-md-12 mb-3">
                  <label for="serverUri" class="form-label">Server Uri.</label>
                  <input type="text" class="form-control" placeholder="server Uri." id="serverUri" formControlName="serverUri"
                      appValidityStyle [submitted]="submitted">
                  <div ngxErrors="serverUri">
                      <div ngxError="required">ExpaqMate Server Uri is required</div>
                  </div>
              </div>
          </div>
          

          <div class="row">
              <div class="col-md-4">
                  <button type="submit" class="btn btn-primary me-1">Save Changes</button>
              </div>
          </div>
          <!--end row-->
      </form>

    </div>
  </div>
