<app-pagetitle [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

<div class="card h-auto">
    <div class="card-body">
        <app-error-display [errors]="errors"></app-error-display>
        <form [formGroup]="form" (ngSubmit)="onSubmit($event.submitter.value)" autocomplete="off">
            <div class="row">
                <div class="col-md-2 mb-2">
                    <label for="feeNoteTypeName" class="form-label">Fee Note Type</label>
                    <input readonly type="text" class="form-control" placeholder="Fee Note Type" id="feeNoteTypeName"
                        formControlName="feeNoteTypeName" appValidityStyle [submitted]="submitted">
                    <div ngxErrors="feeNoteType">
                        <div ngxError="required">Fee Note Type is required</div>
                    </div>
                </div>

                <div class="col-md-5 mb-2">
                    <label for="accountName" class="form-label">Account</label>
                    <input readonly type="text" class="form-control" placeholder="Account" id="accountName"
                        formControlName="accountName" appValidityStyle [submitted]="submitted">
                    <div ngxErrors="accountId">
                        <div ngxError="required">Account is required</div>
                    </div>
                </div>
                <div class="col-md-5 mb-2">
                    <label for="clientName" class="form-label">Client </label>
                    <input readonly type="text" class="form-control" placeholder="Client" id="clientName"
                        formControlName="clientName" appValidityStyle [submitted]="submitted">
                    <div ngxErrors="clientId">
                        <div ngxError="required">Client is required</div>
                    </div>
                </div>

            </div>
            <div class="row mb-3">
                <div class="col-md-12 mb-2">
                    <label for="description" class="form-label">Description</label>
                    <textarea type="text" class="form-control" placeholder="Description" id="description"
                        formControlName="description" appValidityStyle [submitted]="submitted"></textarea>
                    <div ngxErrors="description">
                        <div ngxError="required">Description is required</div>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-md-12">
                    <button type="button" class="btn btn-dark me-1" (click)="addFeeNoteItem()"><i
                            class="bi bi-clipboard-plus me-2"> </i>Add Fee Note Item </button>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <div formArrayName="items">
                        <table class="table table-nowrap mb-2 ">
                            <thead>
                                <tr>
                                    <th scope="col" class="p-1 ">Charge</th>
                                    <th scope="col" class="p-1 ">Description</th>
                                    <th scope="col" class="p-1 text-end">Quantity</th>
                                    <th scope="col" class="p-1 text-end">Amount</th>
                                    <th scope="col" class="p-1 text-end">Tax Amount</th>
                                    <th scope="col" class="p-1 text-end">Gross Total</th>
                                    <th scope="col" class="p-1 ps-4">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of items.controls; let i = index ;" [formGroupName]="i">
                                    <td class="p-1">{{ item.get('chargeName')?.value }}</td>
                                    <td class="p-1">{{ item.get('description')?.value }}</td>
                                    <td class="p-1 text-end">{{ item.get('quantity')?.value | number:'1.0-0'}}</td>
                                    <td class="p-1 text-end">{{ item.get('amount')?.value | number:'1.2-2'}}</td>
                                    <td class="p-1 text-end">{{ item.get('taxAmount')?.value | number:'1.2-2'}}</td>
                                    <td class="p-1 text-end">{{ item.get('total')?.value | number:'1.2-2' }}</td>

                                    <td class="p-1 ">
                                        <div class="hstack gap-3 fs-15 ">
                                            <a ngbTooltip="Edit" class="ms-4" href="#"
                                                (click)="$event.preventDefault();editItem(i)">
                                                <i class="bi bi-pencil-fill"></i> Edit
                                            </a>
                                            <a ngbTooltip="Delete" class="text-danger" href="#"
                                                (click)="$event.preventDefault();removeItem(i)">
                                                <i class="bi bi-trash-fill"></i> Delete
                                            </a>


                                        </div>
                                    </td>

                                </tr>
                            </tbody>

                        </table>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mb-0">
                    <label class="form-label">Documents</label>
                    <app-document-upload *ngIf="form.value.id"  [refId]="form.value.id" [operationTypeId]="1"
                        (documentsChangedEvent)="updateDocuments($event)"></app-document-upload>
                    <div ngxErrors="madatoryDocsUploaded">
                        <div ngxError="required">Please make sure you have uploaded all mandatory documents</div>
                    </div>
        
        
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <button type="submit" class="btn btn-primary me-1"  value="save">{{buttonText}}</button>
                    <button type="submit" class="btn btn-primary me-1" value="submit">{{buttonText}} & Finish</button>
                </div>
            </div>
            <!--end row-->
        </form>
        <hr>
        <a class="btn btn-light waves-effect waves-light " (click)="back()">Back</a>
    </div>
</div>