<app-pagetitle [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="card h-auto">
    <div class="card-body">

        <div class="row">
            <div class="col-md-1 mb-2 ">
                <!-- Buttons with Label -->
                
            </div>
            <div class="col-md-5 ms-auto">
                <div class="input-group">
                    <input type="text" placeholder="Search" name="search" class="form-control" aria-label="search"
                        [(ngModel)]="search">
                    <button ngbTooltip="Search" class="btn btn-primary" type="button" (click)="onSearch()"><i
                            class="bi bi-search"></i></button>
                    <button ngbTooltip="Clear" class="btn btn-primary" type="button" (click)="onReset()"><i
                            class="bi bi-x-circle"></i></button>
                </div>
            </div>
        </div>
        
        <div class="table-responsive">
            <table class="table table-nowrap mb-2">
                <thead>
                    <tr>

                        <th scope="col">#</th>                     
                        <th scope="col">Assessment Date</th> 
                        <th scope="col">Vehicle Model</th>  
                       
                        <th scope="col">Reg No</th>  
                        <th scope="col">Client</th>
                        <th scope="col">Handler</th>    
                        <th scope="col">Status</th>  

                        <th [width]="200" scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of items" class="p-1">
                        <td>{{item.assessmentNo}}</td>      
                        <td>{{item.assessmentDate | date:'dd-MMM-yyyy'}}</td>  
                        <td>{{item.modelName}}</td> 
                        <td>{{item.regNumber}}</td>                          
                        <td>{{item.clientName}}</td>
                        <td>{{item.handlerName}}</td>
                        <td>{{item.statusName}}</td>        
                                       
                        
                        <td class="p-1 d-flex justify-content-end">
                            <div container="body" ngbDropdown class="d-inline-block">
                                <button type="button" class="btn btn-primary" id="dropdownBasic1" ngbDropdownToggle>
                                    Actions <i class="bi bi-chevron-down ms-2"></i>

                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <ng-container *ngIf="item.canEdit && item.handlerId===userId">
                                        <button ngbDropdownItem  [routerLink]="['edit',item.id]" routerLinkActive="active" >
                                            <i class="bi bi-pencil-fill me-1 text-primary "></i>Edit
                                        </button>
                                    </ng-container>                                   
                                    <ng-container *ngIf="item.canPrepareFeeNote">
                                        <button ngbDropdownItem  [routerLink]="[item.taskId,'feenote']" routerLinkActive="active" >
                                            <i class="bi bi-receipt me-1 text-primary "></i>Prepare Fee Note
                                        </button>
                                    </ng-container> 
                                    <ng-container *ngIf="item.canSubmit && item.handlerId===userId">
                                        <button ngbDropdownItem  [routerLink]="['submit',item.id]" routerLinkActive="active" >
                                            <i class="bi bi-check-circle-fill me-1 text-primary "></i>Submit
                                        </button>
                                    </ng-container> 
                                    <ng-container>
                                        <button ngbDropdownItem  (click)="$event.preventDefault();printPreview(item.id)" >
                                            <i class="bi bi-printer-fill me-1 text-primary "></i>Print Preview
                                        </button>
                                    </ng-container> 
                                    <ng-container *ngIf="item.canPriviewCombined ">
                                        <button ngbDropdownItem  (click)="$event.preventDefault();combinedPrintPreview(item.id)" >
                                            <i class="bi bi-printer-fill me-1 text-primary "></i>Combined  Preview
                                        </button>
                                    </ng-container> 
                                    <div class="dropdown-divider"></div>
                                    <button ngbDropdownItem [routerLink]="['detail',item.id]" routerLinkActive="active" >
                                        <i class="bi bi-eye-fill me-1 text-primary"></i>View
                                    </button>                                    
                                    <button ngbDropdownItem>
                                        <i class="bi bi-trash me-1 text-danger"></i>Delete
                                    </button>
                                </div>
                            </div>


                        </td>



                    </tr>
                </tbody>
            </table>
            <div *ngIf="totalCount>0">
                <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="totalCount" [pageSize]="pageSize"
                [(page)]="page" [maxSize]="maxSize" [boundaryLinks]="true"></ngb-pagination>
            </div>
            
        </div>
    </div>
</div>
