
<app-pagetitle [title]="pageTitle" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-1 mb-2 ">
                <!-- Buttons with Label -->
                <a class="btn btn-primary waves-effect waves-light " href="#" [routerLink]="['create']"
                routerLinkActive="active">New</a>
            </div>
            <div class="col-md-5 ms-auto">
                <form>
                    <div class="input-group">
                        <input type="text" name="search" placeholder="Search" [(ngModel)]="search" class="form-control"
                            ne aria-label="search">
                        <button ngbTooltip="Search" class="btn btn-primary" type="button" (click)="onSearch()"><i
                               class="bi bi-search"></i></button>
                        <button ngbTooltip="Clear" class="btn btn-primary" type="button"><i
                               class="bi bi-x-circle"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <div class="table-responsive mb-2">
            <table class="table table-nowrap ">
                <thead >
                    <tr>

                        <th scope="col">Username</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone Number</th>
                        <th [width]="200" scope="col"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let item of items" class="p-1">
                        <td>{{item.userName}}</td>

                        <td>{{item.firstName}}</td>
                        <td>{{item.lastName}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.phoneNumber}}</td>


                        <td>
                            <div class="hstack gap-3 fs-15">
                                <a ngbTooltip="View" href="#" [routerLink]="['edit',item.id]"
                                    routerLinkActive="active">
                                   <i class="bi bi-pencil-fill"></i> Edit
                                </a>
                                <a *ngIf=" !item.emailConfirmed" ngbTooltip="Activate" href="javascript: void(0)"
                                    (click)="resendEmailConfirmation(item)">
                                    <i class="bi bi-send"></i>
                                     Resend Email Confirmation
                                </a>
                                <a *ngIf="!item.active && item.emailConfirmed" ngbTooltip="Activate"
                                    href="javascript: void(0)" (click)="activate(item)">
                                    <i class="bi bi-check-square"></i>
                                    Activate
                                </a>



                            </div>
                        </td>



                    </tr>
                </tbody>
            </table>
        </div>
        <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="totalCount" [pageSize]="pageSize"
            [(page)]="page" [maxSize]="maxSize" [boundaryLinks]="true"></ngb-pagination>


    </div>
</div>