<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                
               {{year}} © Expaq.
                
            </div>
            <div class="col-sm-4">
                
               
                <app-app-version></app-app-version> 
             </div>
            <div class="col-sm-4">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by <a href="javascript:void(0);" class="text-decoration-underline">Expaq Creations ltd</a>
                </div>
            </div>
        </div>
    </div>
</footer>