<div class="card" >
    <div class="card-body">
      <h5 class="card-title fw-bolder">{{operation?.name}}</h5>
      <hr>

      <a  (click)="add()" class="btn btn-primary btn-sm">Add Upload Type</a>
      <table class="table table-nowrap table-sm mb-2">
        <thead>
            <tr>

                <th scope="col">Document</th>
                <th scope="col">Is Required</th>
                <th [width]="200" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of items" class="p-1">
                <td>{{item.uploadTypeName}}</td>
                <td>{{item.isRequired}}</td>
                <td>
                    <div class="hstack gap-3 fs-15 ">
                        <a ngbTooltip="Delete" (click)="remove(item)"  class="text-danger" >
                            <i class="bi bi-trash"></i>
                             Remove
                        </a>


                    </div>
                </td>



            </tr>
        </tbody>
    </table>

    </div>
  </div>